@{
    ViewBag.Title = "About";
}
    <body style="background:url(../images/pic18.jpg);background-size:cover;">
        <div style="background-color:rgba(0, 0, 0, 0.75);padding:1%;margin-top:4%">
            <h2 style="color:white;text-align:center">@ViewBag.Title</h2>
            <hr />
            <h3 style="color:white">Information Pool System</h3>
       
            <p style="color:white">
                The Information Pool System is an online based web site that aspires to 
                showcase news from various sites in one place. It aims to be the one-stop destination 
                for people seeking information about current events of the world as well as find classifieds 
                according to their requirements. It is a single platform for both news articles 
                and blogs posted by users, in order to provide impartial news to its users persistently.
            </p>
        </div>
    </body>