
@{
    ViewBag.Title = "SeeReports";
}
    <body style="background:url(../images/pic18.jpg);background-size:cover">
        <div style="background-color:white;padding:2%;margin-top:2%;margin-bottom:10%">
            <h2 align="center">Reports</h2>
        </div>
    </body>

